@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@200&display=swap");
body
{
    background-color: #fafafa;

}
.navbar-inner{
    width: 100px;
}
.navbar-inner img{
    width: 100px;
}
nav
{
    font-family:'Heebo', sans-serif;
    font-weight: bolder;

}
form .form-control, .btn
{
    font-family:'Heebo', sans-serif;
    font-weight: bolder;
}
footer
{
    font-family:'Heebo', sans-serif;
    font-weight: bolder;
}

footer h6
{
    font-family:'Heebo', sans-serif;
    font-weight: bolder;
}

section
{
    font-family:'Heebo', sans-serif;
    font-weight: bolder;
}

form h1
{
    font-family:'Heebo', sans-serif;
    font-weight: bolder;
}

thead
{
    font-family:'Heebo', sans-serif;
    font-weight: bolder;
    color:#1956B4 ;
}

/*form de tickets*/

.btn-primary 
{
    background-color: #1956B4;
}


#ticket_form
{
    margin-right: 300px;
    margin-left: 50px;
}

#btn_ticket
{
    margin-bottom: 10px;

}



/* index*/

canvas 
{
    width: 100%;
    height: auto;
}

